@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 14px;
    color: '#1a1a1a';
}

.container {
	width: 1200px;
}

.button {
    padding: 8px 0;
    width: 25%;
    margin-top: 0.5em;
    margin-right: 0.5em;
    font-weight: 600;
    font-size: 0.7em;
    background: #4f8df420;
    border: 1px solid #4f8df450;
    &:hover {
        
        cursor: pointer;
        outline: 3px solid #a5dbff80;
    }
}

a {
    cursor: pointer;
    &:hover {
        color: #4f8df4;
    }
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.mr-0 {
    margin-right: 0;
}

.font-blue {
   color: #4f8df4
}